<!-- <nav class="navbar">
  <div class="navbar-logo">
    <img src="assets/logo.png" alt="My App Logo" />
  </div>
  <ul class="navbar-links">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">About</a></li>
<li><a routerLink="/about">Services</a></li>
<li><a routerLink="/about">About</a></li>
    <li><a routerLink="/contact">Blog</a></li>
  </ul>
  <div class="navbar-actions">
  </div>
</nav> -->

<header>
    <p class="logo">Robotizuotas sandėlys</p>
    <nav>
        <ul class="nav__links">
            <li><a routerLink="/">Prekės</a></li>
            <li><a routerLink="/">Užsakymai</a></li>
            <li><a routerLink="/">UserFN UserLN</a></li>
        </ul>
    </nav>
    <a class="cta"><button>Action</button></a>
</header>